/* pagina */

body {
  margin: 0;
  background-image: linear-gradient(
    0deg,rgba(0,0,0,0.9),
    rgba(0,0,0,0.5)
),url("assets/madera-oscura.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

/* Menu */

#list-menu{
  display: none;
}

header label{
  display: none;
  width: 30px;
  height: 30px;
  padding: 10px;
  border-right: 1px solid #ffffff;
}

header label:hover{
  cursor: pointer;
  background: rgba(88, 88, 88, 0.3);
}

/* Barra de navegacion */

header{
  position: fixed;
  width: 100%;
}

.nav{
  width: 100%;
  background: #000000cc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

.logo{
  font-size: 25px;
  color: #fff;
  font-weight: 100;
  padding: 7px;
}

.menu{
  display: flex;
}

.menu li{
  list-style: none;
  margin: -7px 10px -7px 10px;
}

.menu li a{
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.5 ease;
  
}

.menu li a:hover{
  padding: 5px 10px;
  background: #fff;
  color: #000;
  border-radius: 15px;
  
}

ul {
  margin-inline-end: 23px;
}

/* Sobre mi */

.perfil{
  display: flex;
  flex-direction: column;
}

.img-perfil{
    border-radius: 50%;
    border-style: double;
    border-width: 12px;
    border-color: rgb(103, 104, 104);
    margin: auto;
  }

  .hero-image{
    background-image: linear-gradient(
      0deg,rgba(0,0,0,0.9),
      rgba(0,0,0,0.5)
  ),url("assets/background.jpg");
    height: 60em;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }

.hero-text{
    font-family: 'Shantell Sans', cursive;
    text-align: center;
    position: initial;
    color: white;
    font-size: 20px;
    padding-top: 7%;
    padding-left: 10%;
    padding-right: 10%;
  }

/* 3 sección restantes */

.contenedor {
  color: black;
  padding: 200px 12px;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  align-items: center;
}

.img-container{
  background-image: url(assets/restaurant.jpg); 
  box-shadow: rgb(234 116 255 / 73%) 9px 9px 20px 2px;

  opacity: 0;
  transform: scale(0.9);
  transition: .7s ease-in-out all;
  
}

.img-container.visible{
  opacity: 1;
  transform: scale(1);
}

.img-educacion{
  background-image: url(assets/restaurant1.jpg);
  box-shadow: rgb(234 116 255 / 73%) 9px 9px 20px 2px;

  opacity: 0;
  transform: scale(0.9);
  transition: .7s ease-in-out all;
}

.img-educacion.visible{
  opacity: 1;
  transform: scale(1);
}

.img-habilidades{
  background-image: url(assets/kazuo.jpg);
  box-shadow: rgb(234 116 255 / 73%) 9px 9px 20px 2px;

  opacity: 0;
  transform: scale(0.9);
  transition: .7s ease-in-out all;
}

.img-habilidades.visible{
  opacity: 1;
  transform: scale(1);
}

#image{
  background-size: cover;
  background-position: center center;
  height: 500px;
  width: 400px;
  z-index: -1;
}

#image2{
  background-size: cover;
  background-position: center center;
  height: 500px;
  width: 400px;
  z-index: -1;
}

#image3{
  background-size: cover;
  background-position: center center;
  height: 500px;
  width: 400px;
  z-index: -1;
}

.texto{
  text-align: initial;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 27px;
  color: wheat;
}

/* Footer */

.datos{
  color: black;
  padding: 0px 0px;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
}

.img-datos{
  background-image: linear-gradient(
    0deg,rgba(0,0,0,0.9),
    rgba(0,0,0,0.5)),url(assets/madera.jpg);
  width: 100%;
  background-size: cover;
}

.texto-datos{
    text-align: center;
    position: initial;
    color: white;
    font-size: 30px;
    padding-top: 3%;
    padding-left: 10%;
    padding-right: 10%;
    list-style-position: inside;
}

.text-footer{
  list-style-type: none;
}

/* Vercion mobile */

@media only screen and (max-width: 768px) {
  
  body{
    background-color: white;
  }

  /* Menu */

  .logo{
    display: none;
  }

  header label {
    display: block;
  }

  .nav{
    align-items: baseline;
  }

/* Barra de navegacion */

.nav{
  flex-direction: column;
}

.menu{
  font-size: 40px;
  flex-direction: column;
  display: none;
}

.menu li{
  margin: 10px 20px 10px 20px;
}

  /* Sobre mi */

  .img-perfil {
    width: 50%;
    height: 50%;
    margin-top: 10%;
  }

.hero-image{
  height: auto;
}

.hero-text{
  padding-bottom: 10%;
  font-size: 15px;
}

  /* 3 sección restantes */

  .texto{
    padding-left: 8px;
    font-size: 16px;
  }

  #image {
    height: 150px;
    width: 100%;
  }

  #image2 {
    height: 150px;
    width: 100%;
  }

  #image3 {
    height: 150px;
    width: 100%;
  }

  .contenedor {
    flex-direction: column;
    padding: 100px 12px;
  }

/* Footer */

.datos{
  padding: 0px 0px;
}

.img-datos{
  height: auto;
}

.texto-datos{
    font-size: 17px;
    padding-top: 0%;
    padding-left: 0%;
    padding-right: 0%;
}

/* Boton */

#list-menu:checked ~ .menu {
  display: block;

}

}

